/* шапка сайта */
html, body {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background: rgb(81, 255, 0);
    background: url(фон.jpg);
    width: 100%;
}

header:before {
    display: inline-block;
    vertical-align: middle;
}

header {
    text-align: center;
    background: rgb(255, 255, 255);
    background: url(фон.jpg);
}

header div {
    margin: auto;
    display: inline-block;
    vertical-align: middle;
    color: rgb(255, 255, 255);
}

#skills {
    color: rgb(171, 162, 162);
}


/* основной котент */

.main-content-info {
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}

.info {
    background: rgb(255, 255, 255);
    box-shadow: 0px 5px 15px 0px rgb(255, 5, 5);
    border-radius: 20px;
    height: 150px;
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}

.info img {
    width: 200px;
    margin: 15px;
}

.info h2,
p {
    margin: 15px;
}

.info-skills {
    background-color: white;
    height: 100px;
    box-shadow: 0px 5px 10px 0px rgb(255, 0, 0);
    border-radius: 10px;
}

.info-skills h2,
ul {
    margin: 15px;
    display: flex;
}

.info-skills ul {
    margin-left: -30px;
}

.info-skills li {
    margin: 0 5px;
    list-style-type: none;
    background-color: rgb(57, 255, 20);
    border-radius: 5px;
    color: white;
    padding: 4px;
    box-shadow: 5px 5px 5px 5px rgba(38, 134, 38, 0.475);
}

li {
    list-style-type: none;
}

.exp-work {
    margin-top: 15px;
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgb(255, 0, 0);
    border-radius: 10px;
}

.exp-work ul {
    margin-left: -30px;
}

.exp-work div {
    padding: 15px;
}

.study {
    margin-top: 15px;
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgb(255, 0, 0);
    border-radius: 10px;
}

.study section {
    padding: 15px;
}

.study section ul {
    margin-left: -30px;
}
.btn-1 {
    width: 100px;
    height: 70px;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 10px;
    color: #555;
    text-decoration: none;
  }
  
  .btn-1:hover {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    cursor: pointer;
  }
.face {
    background-color: rgb(255, 255, 255);
}

/* подвал сайта */